
h1 {
  color: white;
}

table {
  height: 40%;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 80%;
  border-radius: 4px;
}

thead th {
  background: #dc7633 ;
  color: #FFF;
  font-family:'Marker Felt', fantasy;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

tr {
  background: #f0b27a  ;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

th, td {
  font-family:'Marker Felt', fantasy;
  font-size: 18px;
  font-weight: 400;
  padding: 20px;
  text-align: left;
  width: 33.3333%;
  border: dotted 4px;
  border-color: #a04000  ;
}

.titlewrld {
	cursor: crosshair;
}

.WrldPic {
	height:200px;
	width: 330px;
