
h1 {
  color: white;
}

table {
  height: 40%;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 80%;
  border-radius: 4px;
}

thead th {
  background: #16A5A0;
  color: #FFF;
  font-family:'Courier', monospace;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

tr {
  background: #a3e4d7 ;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

th, td {
  font-family:'Courier', monospace;
  font-size: 18px;
  font-weight: 400;
  padding: 20px;
  text-align: left;
  width: 33.3333%;
  border: dotted 4px;
  border-color: #06896B;
}

.titlechem {
	cursor: crosshair;
}

.chempic {
	height:250px;
	width:400px;
